################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/env
/credentials.csv
/database.txt
/.vs
/cogs/__pycache__
